*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

/* font-family: 'Montserrat', sans-serif; */
/* ----------- HEADER SECTION STYLE ------------------------------ */
header{
    position: relative;
    /* width: 100vw; */
    height: 100vh;
    background: url("./Images/video.mp4");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: tomato; */
}

#header-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

nav{
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.tax__section {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 1rem;
}

.tax__section p{
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
}

.tax__section p a{
    color: #000;
}

.nav__links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: wheat; */
    margin: 0 .85rem;
}

.nav__links .logo__img img{
    width: 100px;
    filter: invert(1);
}

.nav__links .links ul,
.nav__links .options ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.nav__links .links ul li,
.nav__links .options ul li{
    list-style: none;
    /* background-color: violet; */
}

.nav__links .links ul li a,
.nav__links .options ul li a{
    padding: .55rem .95rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .85rem;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color .5s;

}

.nav__links .links ul li a:hover,
.nav__links .options ul li a:hover{
    background-color: #0000002d;
}

.hero__content{
    position: relative;
    top: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 70%;
}

.hero__content .text{
    font-family: 'Montserrat', sans-serif;
}

.hero__content .text h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.hero__content .text p{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    letter-spacing: .85px;
}

.hero__content .demo__btn a{
    padding: .55rem 6rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero__content .demo__btn a:hover{
    background-color: #fff;
    color: #000;
}

@media (max-width: 1200px){
    .links{
        display: none;
    }
}

/* ---------------- HEADER SECTION STYLE END ------------------------ */

.section__1{
    width: 100vw;
    height: 100vh;
    background: url(./Images/Homepage-Model-3-Desktop-LHD.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.section__1 .section1__content{
    position: relative;
    top: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 70%;
}

.section__1 .section1__content .section1__text{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section__1 .section1__content .section1__text h1{
    color: #000;
    font-size: 3rem;
    font-weight: 500;
}

.section__1 .section1__content .section1__text a{
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: .85px;
    text-align: center;
    padding-top: .65rem;
}

.section__1 .section1__content .section1__demo__btn a{
    padding: .55rem 5rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section__1 .section1__content .section1__demo__btn a:nth-child(1){
    background-color: #3B3E42;
}

.section__1 .section1__content .section1__demo__btn a:nth-child(2){
    background-color: #E8E8E7;
    color: #666;
}

